.cat1 {
border-top: 8px solid #851423;
}

.cat2 {
border-top: 8px solid #85145C;
}
.cat3 {
border-top: 8px solid #761485;
}
.cat4 {
border-top: 8px solid #3D1485;
}
.cat5 {
border-top: 8px solid #853D14;
}
.cat6 {
border-top: 8px solid #BA1C31;
}
.cat7 {
border-top: 8px solid #33E1C9;
}
.cat8 {
border-top: 8px solid #142385;
}
.cat9 {
border-top: 8px solid #857614;
}
.cat10 {
border-top: 8px solid #E1334A;
}
.cat11 {
border-top: 8px solid #145C85;
}

.cat12 {
border-top: 8px solid #5C8514;
}

.cat13 {
border-top: 8px solid #238514;
}

.cat14 {
border-top: 8px solid #14853D;
}

.cat15 {
border-top: 8px solid #148576;
}
